In [1]:
!pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Requirement already satisfied: pandas>=1.0.0 in c:\users\user\anaconda3\lib\site-packages (from ucimlrepo) (1.5.3)
Requirement already satisfied: certifi>=2020.12.5 in c:\users\user\anaconda3\lib\site-packages (from ucimlrepo) (2022.12.7)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.0.0->ucimlrepo) (1.16.0)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='pypi.org', port=443): Read timed out. (read timeout=15)")': /simple/ucimlrepo/
WARNING: There was an error checking the latest version of pip.

In [3]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
real_estate_valuation = fetch_ucirepo(id=477) 
  
# data (as pandas dataframes) 
X = real_estate_valuation.data.features 
y = real_estate_valuation.data.targets 
  
# metadata 
print(real_estate_valuation.metadata) 
  
# variable information 
print(real_estate_valuation.variables)

{'uci_id': 477, 'name': 'Real Estate Valuation', 'repository_url': 'https://archive.ics.uci.edu/dataset/477/real+estate+valuation+data+set', 'data_url': 'https://archive.ics.uci.edu/static/public/477/data.csv', 'abstract': 'The real estate valuation is a regression problem. The market historical data set of real estate valuation are collected from Sindian Dist., New Taipei City, Taiwan. ', 'area': 'Business', 'tasks': ['Regression'], 'characteristics': ['Multivariate'], 'num_instances': 414, 'num_features': 6, 'feature_types': ['Integer', 'Real'], 'demographics': [], 'target_col': ['Y house price of unit area'], 'index_col': ['No'], 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2018, 'last_updated': 'Mon Feb 26 2024', 'dataset_doi': '10.24432/C5J30W', 'creators': ['I-Cheng Yeh'], 'intro_paper': {'title': 'Building real estate valuation models with comparative approach through case-based reasoning', 'authors': 'I. Yeh, Tzu-Kuang Hsu', 'published_in': 'Applied Soft Computing', 'year': 2018, 'url': 'https://dl.acm.org/doi/abs/10.1016/j.asoc.2018.01.029', 'doi': None}, 'additional_info': {'summary': 'The market historical data set of real estate valuation are collected from Sindian Dist., New Taipei City, Taiwan. The â€œreal estate valuationâ€\x9d is a regression problem. The data set was randomly split into the training data set (2/3 samples) and the testing data set (1/3 samples).', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'The inputs are as follows\r\nX1=the transaction date (for example, 2013.250=2013 March, 2013.500=2013 June, etc.)\r\nX2=the house age (unit: year)\r\nX3=the distance to the nearest MRT station (unit: meter)\r\nX4=the number of convenience stores in the living circle on foot (integer)\r\nX5=the geographic coordinate, latitude. (unit: degree)\r\nX6=the geographic coordinate, longitude. (unit: degree)\r\n\r\nThe output is as follow\r\nY= house price of unit area (10000 New Taiwan Dollar/Ping, where Ping is a local unit, 1 Ping = 3.3 meter squared)\r\n', 'citation': None}}
                                     name     role        type demographic  \
0                                      No       ID     Integer        None
1                     X1 transaction date  Feature  Continuous        None
2                            X2 house age  Feature  Continuous        None
3  X3 distance to the nearest MRT station  Feature  Continuous        None
4         X4 number of convenience stores  Feature     Integer        None
5                             X5 latitude  Feature  Continuous        None
6                            X6 longitude  Feature  Continuous        None
7              Y house price of unit area   Target  Continuous        None

                                         description  \
0                                               None
1  for example, 2013.250=2013 March, 2013.500=201...
2                                               None
3                                               None
4  number of convenience stores in the living cir...
5                    geographic coordinate, latitude
6                   geographic coordinate, longitude
7  10000 New Taiwan Dollar/Ping, where Ping is a ...

                          units missing_values
0                          None             no
1                          None             no
2                          year             no
3                         meter             no
4                       integer             no
5                        degree             no
6                        degree             no
7  10000 New Taiwan Dollar/Ping             no

In [7]:
X.columns

Index(['X1 transaction date', 'X2 house age',
       'X3 distance to the nearest MRT station',
       'X4 number of convenience stores', 'X5 latitude', 'X6 longitude'],
      dtype='object')

In [6]:
y

     Y house price of unit area
0                          37.9
1                          42.2
2                          47.3
3                          54.8
4                          43.1
..                          ...
409                        15.4
410                        50.0
411                        40.6
412                        52.5
413                        63.9

[414 rows x 1 columns]

AttributeError: 'DataFrame' object has no attribute 'Isnul'